<!DOCTYPE html>
<html lang="en">
  <!-- Design by foolishdeveloper.com -->
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Brain Tumor Detection</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='styles/main.css') }}"
  />
  <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.png') }}"
    />
  </head>
  <body>
    <div class="result-section" id="Predicted_Result"></div>

    <div class="center">
      <div class="form-input">
        <div class="preview">
          <img id="file-ip-1-preview" />
        </div>
        <label for="file-ip-1">Upload Image</label>
        <input
          type="file"
          id="file-ip-1"
          accept="image/*"
          onchange="showPreview(event);"
        />
      </div>
    </div>
    <script src="{{url_for('static', filename='app.js')}}"></script>
      
    </script>
  </body>
</html>
