<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brain Tumor Detection</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.png') }}"
    />
  </head>
  <body>
    <input type="file" accept="image/*" id="fileUpload" onchange="loadFile(event)" />
    <img id="output" />
    <div class="result-section" id="Predicted_Result"></div>

    <script src="{{url_for('static', filename='app.js')}}"></script>

  </body>
</html>
