<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>

    <!--Linking the css- Linking css and js in Flask python module is different from normal so you might don't underestand it-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/info.css') }}"
    />

    <!--linking the shorcut icon from icon8.com site-->
    <link
      rel="shortcut icon"
      href="https://img.icons8.com/external-obivous-color-kerismaker/50/000000/external-information-online-shopping-color-obivous-color-kerismaker.png"/>"
    />
  </head>
  <body>
    <!--making the navigation bar-->
    <ul class="topnav">
      <li><a class="" href="/">Home</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li><a class="right active" href="">About</a></li>
    </ul>

    <div class="text">
      <h2>Brain Tumor Detection Site</h2>
      <p>The app was created in 2022</p>
      <p>Creators : Mohammad Javad Fakhraee and Ali Kiani</p>
      <p>Thanks For Visiting The Site</p>
      <p>And Don't Remember To Send Your Opinion To Us Using Contact Page</p>
      <!--you can find the full source here : s-->
      <p>
        Full Source:
        https://github.com/aliprg0/Brain-Tumor-Detection/tree/chabokan-deploy
      </p>
    </div>
  </body>
</html>
