<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/info.css') }}">
</head>
<body>
    <ul class="topnav">
        <li><a class="" href="/">Home</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a class="right active" href="">About</a></li>

      </ul>
      
      <div class="text">
        <h2>Brain Tumor Detection Site</h2>
        <p>The app was created in 2022</p>
        <p>Creators : Mohammad Javad Fakhraee and Ali Kiani</p>
        <p>Thanks For Visiting The Site </p>
        <p>   And Don't Remember To Send Your Opinion To Us Using Contact Page </p>
      </div>
      
</body>
</html>